<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franktan.popularmovies" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.ActionBar.WhiteText" >
        <activity
            android:name=".ui.activities.MovieGridActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".ui.activities.MovieGridActivity"
            android:theme="@style/AppTheme.ActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MovieGridActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.MovieGridActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MovieGridActivity" />
        </activity>

        <provider
            android:name="com.franktan.popularmovies.data.MovieProvider"
            android:authorities="com.franktan.popularmovies"
            android:exported="false" />

        <service android:name=".service.MovieDetailsIntentService"
            android:exported="false"/>

        <service android:name=".sync.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.MovieSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

    </application>

</manifest>
